<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>在线考试系统后台试题页面</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/css/ready.css" th:href="@{/assets/css/ready.css}">
    <link rel="stylesheet" href="assets/css/demo.css" th:href="@{/assets/css/demo.css}">
</head>
<body>
<div class="wrapper">
    <!--header-->
    <div th:replace="commons/bar::header"></div>

    <!--slidebar-->
    <div th:replace="commons/bar::#sidebar(activeUri='/question/getAllQuestion')"></div>

    <!--main panel-->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">视频管理页面</h4>
                <div class="col-md-6">
<!--                    <form id="formId" action="@{/movie/addQuestion}" method="post" enctype="multipart/form-data" class="form-horizontal ">-->
<!--                        <label class="col-md-3 control-label">视频上传</label>-->
<!--                        <div class="col-md-5">-->
<!--                            <span style='color:blue;'>(支持'3gp','rmvb','flv','wmv','avi','mkv','mp4','mp3','wav'格式)</span>-->
<!--                            <input type="file" class="file" name="file">-->
<!--                        </div>-->
                    <form th:action="@{/movie/addQuestion}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">试题知识</label>
                                    <input type="text" class="form-control" id="name" name="queCourse" placeholder="试题知识">
                                </div>

                                <div class="col-md-5">-->
                                    <label for="name">视频</label>-->
                                    <input type="file" class="file" name="file">
                                </div>
                            </div>
                        </div>

                        <div class="card-action">
                            <button class="btn btn-success" th:text="添加"></button>
                            <button class="btn btn-danger">取消</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div th:replace="commons/bar::footer"></div>
<script src="assets/js/core/jquery.3.2.1.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
<script src="../fileupload/jquery.ui.widget.js"></script>
<script src="../fileupload/jquery.iframe-transport.js"></script>
<script src="../fileupload/jquery.fileupload.js"></script>
<script src="../fileupload/jquery.xdr-transport.js"></script>
<script src="../fileupload/jquery.fileupload-process.js"></script>
<script src="../fileupload/jquery.fileupload-validate.js"></script>
<script>
    //显示密码
    $(".file").fileupload({
    url : "/movie/save",
    dataType : "json",
    acceptFileTypes: /(\.|\/)(3gp|flv|rmvb|mp4|wmv|avi|mkv|mp3|wav)$/i,
    maxFileSize: 500 * 1024 * 1024,
    minFileSize: 5,
    messages: {
    maxFileSize: '文件上传的最大大小为 500MB',
    acceptFileTypes: '此文件是不支持的视频格式'
    },
    formData : function (from) {
      //当上传文件时需要传递其他参数时 可以通过以下方式进行赋值传递
    return [{name : "deviceCode",value : $('input[name="deviceCode"]').val()},
    {name : "type",value : $("select").val()}]
    },
    done : function(e, data){//当文件上传成功后调用这个回调函数
    console.log(data)
    },

    processfail: function (e, data) { //根据的定义的校验规则进行文件检验
    var currentFile = data.files[data.index];
    if (data.files.error && currentFile.error) {
    console.log(currentFile.error)
    }
    }
    }
    )
</script>

<script>
    $("#selectType").change(function () {
        var type = $(this).children('option:selected').val();
        if(type=="z"){
            $("#divc").hide();
            $("#divd").hide();
        }
        if(type=="x"){
            $("#divc").hide();
            $("#divd").hide();
        }
        return false;
    })
</script>


</body>
</html>